
.chart{
    float: left;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plot_phases{
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.y_axis{
    float: left;
    width: 30px;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    display: block;
    float: left;
    width: 30px;
    text-align: right;
}
.parent{
    width: 500px;
    text-align: center;
}

.patterns{
    display: inline-block;
    margin: 5px 10px; 
    width: 60px;
}

.adjuster{
    display: inline-block;
    display: -moz-inline-box;
}
